.log-and{ background:#4DC889; width:900px; height:90px; border-radius:9px 9px 0 0px;text-align: center;}
  
  .log-ab{
    text-align: center;
    font-family:open Sans;
    color:#e9e1e1;
    font-weight:70px;
    font-size:50px;
    line-height:17px;
    padding-top: 24px;
    
  }